.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}

.portfolio__items {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}


.portfolio__items:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-img{
    border-radius: 1.5rem;
    overflow:hidden;

}
.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.portfolio__items > a {
margin: 0.5rem;}


@media screen and (max-width: 1024px){
    .portfolio__container{
        
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
   

}
  
@media screen and (max-width: 600px){
  
    .portfolio__container{
        
        grid-template-columns: repeat(1,1fr);
        gap: 0.5rem;
    }


   .portfolio__items {
       margin-bottom: 0.2rem;
   }


}